@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

    <h1>What’s a Cookies Policy</h1>

    <p>
        A cookie is a baked or cooked food that is small, flat and sweet. It usually contains flour, sugar and some type of oil or fat. It may include other ingredients such as raisins, oats, chocolate chips, nuts, etc.

        In most English-speaking countries except for the United States and Canada, crisp cookies are called biscuits. Chewier biscuits are sometimes called cookies even in the United Kingdom.[2] Some cookies may also be named by their shape, such as date squares or bars.

        Cookies or biscuits may be mass-produced in factories, made in small bakeries or homemade. Biscuit or cookie variants include sandwich biscuits, such as custard creams, Jammie Dodgers, Bourbons and Oreos, with marshmallow or jam filling and sometimes dipped in chocolate or another sweet coating. Cookies are often served with beverages such as milk, coffee or tea. Factory-made cookies are sold in grocery stores, convenience stores and vending machines. Fresh-baked cookies are sold at bakeries and coffeehouses, with the latter ranging from small business-sized establishments to multinational corporations such as Starbucks.
    </p>

    <h5>
        For example, a Privacy Policy is used to inform users about the collection and use of any personal or private data, and a Refund/Returns Policy of an e-commerce store informs users of their rights and processes/procedures to return goods and obtain refunds.

        A Cookies Policy is the policy where users can find detailed information about the types of cookies a website uses, how these cookies are used, and how users can control cookies placement through limiting or forbidding a website to place cookies on his/her electronic device.

        A Privacy Policy will often include a section within it that covers Cookies. However, in the EU, having a fully separate Cookies Policy is required.

        In this case, any information about cookies can also be placed in the Privacy Policy agreement but then referenced in the separate policy on cookies.
    </h5>
