# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Scheduling.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Volokhovych\Documents\GitHub\UniversityStuff\InformationSystem(Hlybovets)\GeneticAlgorithm\.idea\.idea.Scheduling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
