# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.PhaticDialogue.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\deqqu\RiderProjects\UniversityStuff\InformationSystem(Hlybovets)\PhaticDialogue\.idea\.idea.PhaticDialogue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
