# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TimetableGeneticGeneration.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Volokhovych\Documents\GitHub\UniversityStuff\InformationSystem(Hlybovets)\GeneticAlgorithm\.idea\.idea.TimetableGeneticGeneration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
