# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.itLab1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\deqqu\Desktop\itLab1\.idea\.idea.itLab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
