# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.FaceRecognitionApiExample.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\deqqu\Documents\GitHub\UniversityStuff\CloudPARCS(Derevianchenko)\FaceRecognitionApiExample\.idea\.idea.FaceRecognitionApiExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
